{% extends 'registration/base.html' %}
{% load crispy_forms_tags  %}

{% block title %}Activate Account{% endblock %}

{% block formname %}Activate Account{% endblock %}

{% block form %}
<div class="card">
    <div class="cars-body">
        <h4 class="card-title">
            <h4 class="card-title">Activate your account !</h4>
            <a href="https://mail.google.com/" class="btn btn-primary">Activate account</a>
            <br>
            <br>
            <a href="{% url 'home' %}" class="btn btn-primary">Home page</a>
        </h4>
    </div>
</div>
<a href="{% url 'sign-up' %}">Sign Up</a>
{% endblock %}