.content
{
    background-color: #F5F5FF;
}

.sidebar
{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: 'Rubik', sans-serif;
}

.menu
{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-bottom: 40px;
}

.menu__title
{
    text-align: center;
    font-size: 20px;
}

.menu__item
{
    padding: 15px 30px 15px 10px;
    border-radius: 10px;
    color: #ccc;
    font-size: 16px;
    margin: 3px 0;
    text-decoration: none!important;
    width: 100%;
}

.menu__item:hover
{
    color: #5A5AAD;
    background-color: rgb(209, 209, 255);
    transition: 0.4s;
}

.menu__item:last-child
{
    margin-top: 60px;
}

.menu__item > li > .bi
{
    margin: 0 5px;
    color: #5A5AAD;
}

.active
{
    color: #5A5AAD;
    background-color: #E3E3FC;
}