{% load static %}
{% extends 'account/base.html' %}


{% block additional %}
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <!-- <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'><link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'> -->
    <link rel="stylesheet" href="{% static 'css/chat/style.css' %}">
{% endblock %}

{% block page %}

    <div class="contact-profile">
        <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
        <p>Chat with: Harvey Specter</p>
        <div class="social-media">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
             <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
    </div>

    <div class="messages">
        <ul id="chat-log">
        </ul>
    </div>
    <div class="message-input">
        <div class="wrap">
        <input id="chat-message-input" type="text" placeholder="Write your message..." />
        <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
        <button id="chat-message-submit" class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
        </div>
    </div>
{% endblock %}






<div id="frame">

	<div class="content">
		<div class="contact-profile">
            
            {% if request.user.profile.avatar %}
                <center ><img src="{{ MEDIA_URL }}{{request.user.profile.avatar}}"  class="rounded-circle mr-4"  width="75px" height="50px" salt="Avatar"></center><br>
            {% else %}
                <center><img src="{% static 'img/account/without-avatar.jpg' %}" width="75px" height="50px" alt="Without Avatar"></center><br>
            {% endif %}

			<p>Harvey Specter</p>
			<div class="social-media">
				<i class="fa fa-facebook" aria-hidden="true"></i>
				<i class="fa fa-twitter" aria-hidden="true"></i>
				 <i class="fa fa-instagram" aria-hidden="true"></i>
			</div>
		</div>
		<div class="messages">
			<ul id="chat-log">
			</ul>
		</div>
		<div class="message-input">
			<div class="wrap">
			<input id="chat-message-input" type="text" placeholder="Write your message..." />
			<i class="fa fa-paperclip attachment" aria-hidden="true"></i>
			<button id="chat-message-submit" class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
			</div>
		</div>
	</div>
</div>
<script src="{% static 'js/chat/main.js' %}"></script>
<script src="{% static 'js/chat/reconnecting-websocket.js' %}"></script>
<script>
	const roomName = {{ room_name_json }}
	const username = {{ username }}


	//const roomName = JSON.parse(document.getElementById('room-name').textContent);

	const chatSocket = new ReconnectingWebSocket(
		'ws://'
		+ window.location.host
		+ '/ws/chat/'
		+ roomName
		+ '/'
	);

	chatSocket.onopen = function(e){
		fetchMessages();
	}

	chatSocket.onmessage = function(e){
		const data = JSON.parse(e.data);
		if(data['command'] === 'messages'){
			for(let i = 0; i < data['messages'].length; i++){
				createMessage(data['messages'][i]);
			}
		}	else if (data['command'] === 'new_message'){
			createMessage(data['message']);
		}
	}

	chatSocket.onclose = function(e) {
		console.error('Chat socket closed unexpectedly');
	};

	document.querySelector('#chat-message-input').focus();
	document.querySelector('#chat-message-input').onkeyup = function(e) {
		if (e.keyCode === 13) {  // enter, return
			document.querySelector('#chat-message-submit').click();
		}
	};

	document.querySelector('#chat-message-submit').onclick = function(e) {
		const messageInputDom = document.querySelector('#chat-message-input');
		const message = messageInputDom.value;
		chatSocket.send(JSON.stringify({
			'message': message,
			'command': 'new_message',
			'from': username,
		}));
		messageInputDom.value = '';
	};

	function fetchMessages(){
		chatSocket.send(JSON.stringify({'command': 'fetch_messages'}));
	}

	function createMessage(data){
		const author = data['author'];
		const msgListTag = document.createElement('li');
		const imgTag = document.createElement('img');
		const pTag = document.createElement('p');
		pTag.textContent = data.content;
		imgTag.src = "{% if request.user.profile.avatar %} {{ MEDIA_URL }}{{request.user.profile.avatar}} {% else %} {% static 'img/account/without-avatar.jpg' %} {% endif %}";
		
		if(author == username){
			msgListTag.className = 'sent';
		}	else {
			msgListTag.className = 'replies';
		}
		msgListTag.appendChild(imgTag);
		msgListTag.appendChild(pTag);
		document.querySelector('#chat-log').appendChild(msgListTag);
	};
</script>
</body>
</html>